* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f3f7f3;
}

/* NAVBAR */
.navbar {
    background: #1b5e20;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: #c8e6c9;
}

/* CART */
.cart {
    font-size: 20px;
}

/* HERO */
.hero {
    height: 400px;

    background:
        linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),

        url("https://images.unsplash.com/photo-1490818387583-1baba5e638af");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 55px;
}

.hero-content p {
    font-size: 20px;
    margin: 15px 0;
}

/* BUTTON */
.btn {
    background: #43a047;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* SEARCH */
.search-section {
    padding: 20px;
    text-align: center;
}

.search-section input {
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* SECTION */
.feature,
.page,
.admin-section {
    padding: 40px;
}

/* GRID */
.product-grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(200px, 1fr));

    gap: 20px;
}

/* CARD */
.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin-bottom: 10px;
}

.price {
    color: #2e7d32;
    font-weight: bold;
}

.card-buttons {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.card-buttons button {
    flex: 1;
}

/* ADMIN */
.form-box {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

button {
    background: #2e7d32;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1b5e20;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th {
    background: #2e7d32;
    color: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

td img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

/* FOOTER */
footer {
    background: #1b5e20;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}